<!DOCTYPE html>
<html lang="{{@site.locale}}">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{meta_title}}</title>
        <link rel="shortcut icon" type="image/png" href="/assets/images/favicon.png">
        {{!-- CSS and JS with asset helper--}}
        <link rel="stylesheet" href="{{asset "dist/app.css"}}" />
        <script src="{{asset "dist/app.js"}}" defer></script>

        {{!-- contentFor/block scripts - use with defer --}}
        {{{block "scripts"}}}
        
        {{!-- Outputs important meta data and settings, should always be in <head> --}}
        {{ghost_head}}
    </head>

    <body class="{{body_class}}">
        
        <div class="grid">
            {{!-- Navbar partial --}}
            {{> "navbar"}}
        </div>

        <main id="theme-main main-grid">
            {{!-- All content gets inserted here, index.hbs, post.hbs, etc --}}
            <header>
                <a href="/" id="main-logo">
                    <div class="logo-square">
                        <div class="logo-circle"></div>
                    </div>
                    <h1>{{@site.title}}</h1>
                </a>
                <h2>{{@site.description}}</h2>
            </header>
            
            {{{body}}}
        </main>

        <div class="grid">
            {{!-- Navbar partial --}}
            {{> "footer"}}
        </div>

        {{!-- Outputs important scripts - should always be included before closing body tag --}}
        {{ghost_foot}}
        <div id="particles" style="position: fixed; top: 0; z-index: -10"></div>
        <script src="{{ asset "particles/hadron.d57b1908.js"}}"></script>
    </body>
</html>