{{!< default}}

<div class="upcoming">
  {{#get "posts" limit="all" filter="featured:true"}}
  {{#foreach posts}}
  <div class="next-conf">
    <a href="{{slug}}">{{title}}</a>
  </div>
  {{/foreach}}
  {{/get}}

  <div class="next-conf">
    <span>
      Our next conference is 
      <a href="https://rubyconf.org" target="_blank">RubyConf</a> on November 29 - December 1, 2022 in Houston, TX.
    </span>
    <a href="https://rubyconf.org" target="_blank" class="next-conf-button">Let's go!</a>
  </div>
</div>

<div class="main-grid">
  <div>
    <section id="blurb">
      <div class="icon-box"></div>
      <h4>
        Ruby Central is a non-profit organization dedicated to Ruby support
        and advocacy of the worldwide Ruby community.
      </h4>
      <p>
        We organize the annual RubyConf and RailsConf software conferences,
        support community growth, and provide vital infrastructure for the
        Ruby programming language.
      </p>
      <p><a href="#about">Learn more about us.</a></p>
    </section>
    <section id="rubygems">
      <div class="section-header">
        <div class="icon-box"></div>
        <h3>RubyGems</h3>
        <img src="{{asset "images/arrow.svg"}}" class="arrow">
      </div>
      <p>
        RubyGems is the code-packaging system for the Ruby community.
        Started as a project in 2004 by the directors of Ruby Central and
        friends, RubyGems has grown into an invaluable and wide-ranging
        resource for the sharing of code among all members of the community.
        With hosting support by Ruby Central, more information can be found
        at <a href="https://rubygems.org">rubygems.org</a>.
      </p>
    </section>
  </div>
  <div>
    <section id="community">
      <div class="section-header">
        <div class="icon-box"></div>
        <h3>Community</h3>
        <img src="{{asset "images/arrow.svg"}}" class="arrow">
      </div>
      <p>
        Here at Ruby Central, we’re incredibly appreciative of our
        community, which is dedicated to maintaining an open, welcoming, and
        supportive environment for all Rubyists. As such, we’re always
        excited to hear about new Ruby-related projects and regional
        conferences.
      </p>

      <p>
        In some instances, we are able to provide resources, grants, or
        other forms of assistance. If you have a project or conference that
        you think we should know about, please don’t hesitate to
        <a href="mailto:contact@rubycentral.org">contact us</a>.
      </p>
      <h5>Community Grants</h5>
      <p>
        Launching a new event (conferences, user groups, etc.) benefiting the Ruby community? We may be able to provide guidance and/or support. <a href="/grants">Learn more about grants</a>.
      </p>
      <h5>Opportunity Scholarships</h5>
      <p>
        Interested in replicating our Opportunity Scholarship program at your own event, with some assistance from us? <a href="/scholarships">Learn more about scholarships</a>.
      </p>
    </section>
    <section id="conferences">
      <h3>33 Conferences and counting.</h3>
    </section>
  </div>
</div>
<section id="support">
  <div class="section-header">
    <div class="icon-box"></div>
    <h3>Support</h3>
    <img src="{{asset "images/arrow.svg"}}" class="arrow">
  </div>
  <p>
    The Ruby language could not have developed so robustly without its
    dedicated community. This community consists of not only talented and
    passionate individual developers, but also many dynamic companies that
    recognize the value of helping foster a strong, sustainable environment
    for Ruby development.
  </p>
  <p></p>

  <p>
    If you are looking for ways in which you can help us support the Ruby
    community, please contact us at
    <a href="mailto:contact@rubycentral.org">contact@rubycentral.org</a>.
  </p>
</section>
<div class="main-grid">
  <div>
    <section id="rubyconf" class="light-background">
      <div class="section-header">
        <div class="icon-box"></div>
        <h3>RubyConf</h3>
        <img src="{{asset "images/darkarrow.svg"}}" class="arrow">
      </div>
      <p>
        <a href="https://rubyconf.org">RubyConf</a> is the Ruby community’s
        annual celebration of all things Ruby! Every fall, we gather Ruby
        enthusiasts together to enjoy detailed talks about exciting new
        projects; meet and network with other Ruby developers; and hear from
        the community’s leading minds, including Yukihiro Matsumoto
        ("Matz"), the creator of the Ruby language.
      </p>
      <ul class="conference-list">
        <li>
          Nashville 2019<a
                          href="https://www.youtube.com/watch?v=2g9R7PUCEXo&list=PLE7tQUdRKcyZDE8nFrKaqkpd-XK4huygU"
                          ></a>
        </li>
        <li>
          Los Angeles 2018<a
                            href="http://confreaks.tv/events/rubyconf2018"
                            ></a>
        </li>
        <li>
          New Orleans 2017<a
                            href="http://confreaks.tv/events/rubyconf2017"
                            ></a>
        </li>
        <li>
          Cincinnati 2016<a
                           href="http://confreaks.tv/events/rubyconf2016"
                           ></a>
        </li>
        <li>
          San Antonio 2015<a
                            href="http://confreaks.tv/events/rubyconf2015"
                            ></a>
        </li>
        <li>
          San Diego 2014<a
                          href="http://confreaks.tv/events/rubyconf2014"
                          ></a>
        </li>
        <li>
          Miami Beach 2013<a
                            href="http://confreaks.tv/events/rubyconf2013"
                            ></a>
        </li>
        <li>
          Denver 2012<a href="http://confreaks.tv/events/rubyconf2012"></a>
        </li>
        <li>
          New Orleans 2011<a
                            href="http://confreaks.tv/events/rubyconf2011"
                            ></a>
        </li>
        <li>
          New Orleans 2010<a
                            href="http://confreaks.tv/events/rubyconf2010"
                            ></a>
        </li>
        <li>
          San Francisco 2009<a
                              href="http://confreaks.tv/events/rubyconf2009"
                              ></a>
        </li>
        <li>
          Orlando 2008<a href="http://confreaks.tv/events/rubyconf2008"></a>
        </li>
        <li>
          Charlotte 2007<a
                          href="http://confreaks.tv/events/rubyconf2007"
                          ></a>
        </li>
        <li>Denver 2006</li>
        <li>San Diego 2005</li>
        <li>Reston 2004</li>
        <li>Austin 2003</li>
        <li>Seattle 2002</li>
        <li>Tampa 2001</li>
      </ul>
    </section>
  </div>
  <div>
    <section id="railsconf" class="light-background">
      <div class="section-header">
        <div class="icon-box"></div>
        <h3>RailsConf</h3>
        <img src="{{asset "images/darkarrow.svg"}}" class="arrow">
      </div>
      <p>
        <a href="https://railsconf.org">RailsConf</a> is the world’s largest
        gathering of Rails developers, brought together to further
        discussion and learning about building, managing, and testing Rails
        applications. With a specific focus on Rails, conference topics can
        range from new users to administration to advanced techniques.
      </p>
      <ul class="conference-list">
        <li>
          Minneapolis 2019<a
                            href="https://www.youtube.com/playlist?list=PLE7tQUdRKcyaOq3HlRm9h_Q_WhWKqm5xc"
                            ></a>
        </li>
        <li>
          Pittsburgh 2018<a
                           href="http://confreaks.tv/events/railsconf2018"
                           ></a>
        </li>
        <li>
          Phoenix 2017<a
                        href="http://confreaks.tv/events/railsconf2017"
                        ></a>
        </li>
        <li>
          Kansas City 2016<a
                            href="http://confreaks.tv/events/railsconf2016"
                            ></a>
        </li>
        <li>
          Atlanta 2015<a
                        href="http://confreaks.tv/events/railsconf2015"
                        ></a>
        </li>
        <li>
          Chicago 2014<a
                        href="https://www.youtube.com/playlist?list=PLE7tQUdRKcyZ5jfnbS_osIoWzK_FrwKz5"
                        ></a>
        </li>
        <li>
          Portland 2013<a
                         href="https://www.youtube.com/playlist?list=PLE7tQUdRKcybxgqVTwuOA12wr5Gn2M2Pp"
                         ></a>
        </li>
        <li>
          Austin 2012<a
                       href="https://www.youtube.com/playlist?list=PLF16D2F3A8469021E"
                       ></a>
        </li>
        <li>
          Baltimore 2011<a
                          href="https://www.youtube.com/playlist?list=PL379EA9290474C86C"
                          ></a>
        </li>
        <li>
          Baltimore 2010<a
                          href="https://www.youtube.com/playlist?list=PL393ECE649BB3813D"
                          ></a>
        </li>
        <li>Las Vegas 2009</li>
        <li>Portland 2008</li>
        <li>Portland 2007</li>
        <li>Chicago 2006</li>
      </ul>
    </section>
  </div>
</div>

<div id="about">
  <div class="content">
    <div id="directors">
      <div class="icon-box"></div>
      <h3>Directors</h3>
      <ul class="people">
        <li>
          <img src="/assets/images/adarsh.png" alt="Adarsh Pandit" />
          <aside>
            <strong>Adarsh Pandit</strong>
            <a href="http://cylinder.consulting">Cylinder Consulting</a>
          </aside>
        </li>
        <li>
          <img src="/assets/images/allison.png" alt="Allison McMillan" />
          <aside>
            <strong>Allison McMillan</strong>
          </aside>
        </li>
        <li>
          <img src="/assets/images/jonan.png" alt="Jonan Scheffler" />
          <aside>
            <strong>Jonan Scheffler</strong>
            <a href="https://rubycentral.org"></a>
          </aside>
        </li>
        <li>
          <img src="/assets/images/marty.png" alt="Marty Haught" />
          <aside>
            <strong>Marty Haught</strong>
            <a href="https://hashicorp.com">Hashicorp</a>
          </aside>
        </li>
        <li>
          <img src="/assets/images/fable.png" alt="Fable Phippen" />
          <aside>
            <strong>Fable Phippen</strong>
            <a href="https://stripe.com">Stripe</a>
          </aside>
        </li>
        <li>
          <img src="/assets/images/valerie.png" alt="Valerie Woolard" />
          <aside>
            <strong>Valerie Woolard</strong>
          </aside>
        </li>
        <li>
          <img src="/assets/images/chelsea.png" alt="Chelsea Kaufman" />
          <aside>
            <strong>Chelsea Kaufman</strong>
          </aside>
        </li>        
      </ul>
    </div>

    <div id="staff">
      <div class="icon-box"></div>
      <h3>Staff</h3>
      <ul class="people">
        <li>
          <img src="/assets/images/neil.png" alt="Neil McGovern" />
          <aside>
            <strong>Neil McGovern</strong>
            <small>Executive Director</small>
          </aside>
        </li>  
        <li>
          <img src="/assets/images/shawntia.jpeg" alt="Dr. Shawntia Key" />
          <aside>
            <strong>Dr. Shawntia Key</strong>
            <small>Events and Communications Manager</small>
          </aside>
        </li>
        <li>
          <img src="/assets/images/devon.png" alt="Devon St. Clair" />
          <aside>
            <strong>Devon St. Clair</strong>
            <small>Designer</small>
          </aside>
        </li>
      </ul>
    </div>

  </div>
</div>
<div id="history">
  <div class="content">
    <div class="icon-box"></div>
    {{#get "pages" limit="1" filter="title:History"}}
      {{#foreach pages}}
        <h3>{{title}}</h3>
        {{content}}
      {{else}}
        <p>Create a page titled "History" and it will appear here!</p>
      {{/foreach}}
    {{/get}}
  </div>
</div>