{{!< default}}
{{#foreach posts}}
    <article>
        {{#if feature_image}}
            <div>
                <img src="{{asset "{{img_url feature_image size="}}"m"}}" alt=""> 
            </div>
        {{/if}}
        <div>
            <h2><a href="{{url}}">{{title}}</a></h2>
            <p>{{authors}} &bull; {{date published_at timeago="true"}} &bull; {{tags}}</p>
            <p>{{excerpt}}</p>
        </div>
    </article>
{{/foreach}}

{{pagination}}