{{!< default}}

{{#post}}

<div class="{{post_class}}">
  {{#if feature_image}}
    <img src="{{img_url feature_image size="m"}}" class="profile-image">
  {{/if}}
  <h1>{{title}}</h1>
  <br>

  <aside class="gh-sidebar"><div class="gh-toc"></div></aside>
  <div class="post-content">
    {{content}}
  </div>
  <p><em>{{date published_at format="MMMM DD, YYYY"}}</em></p>
  <br>
</div>

{{/post}}

<div class="static-content">
  <a href="/" class="back">← Back Home</a>
</div>

{{#contentFor 'scripts'}}
  <script src="{{asset 'dist/post.js'}}" defer></script>
{{/contentFor}}
